<%include _header%>
<h1> Log in </h1>
<form action="/login" method="post">
    <div class="form-grup">
        <input name="username" type="text" class="form-control">
    </div>
    <br>
    <div class="form-grup">
        <input name="password" type="password" class="form-control">
    </div>
    <input type="submit" value="Entrar" class="btn btn-primary-btn-block"/>
</form>
<%include _footer%>